* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head {
    height: 75px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    /* -moz-box-shadow: -2px -2px 20px 2px rgba(0, 0, 0, 0.71);
    -webkit-box-shadow: -2px -2px 20px 2px rgba(0, 0, 0, 0.71);
    -ms-box-shadow: -2px -2px 20px 2px rgba(0, 0, 0, 0.71);
    box-shadow: -2px -2px 20px 2px rgba(0, 0, 0, 0.71); */
}

.head img {
    height: 50px;
    padding-left: 50px;
}

.head .mid {
    align-items: center;
    display: flex;
    gap: 40px;
}

.head button {
    border: none;
    border-radius: 7px;
    padding: 7px 11px;
    margin-right: 50px;

}

.banner {
    position: relative;
}

.banner .image {
    position: absolute;
    width: 50%;
    top: 0;
    right: 20px;
}

h2 {
    color: rgb(34, 34, 111);
    position: absolute;
    top: 115px;
    left: 35px;
    font-size: xx-large;
}

.content {
    color: rgb(34, 34, 111);
    position: absolute;
    top: 195px;
    left: 35px;
}

.button1 {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 310px;
    left: 35px;
    padding: 8px 13px;
}

.button2 {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(34, 34, 111);
    border: 1px solid rgb(197, 196, 196);
    border-radius: 5px;
    position: absolute;
    top: 310px;
    left: 170px;
    padding: 8px 13px;
}

.footer {
    position: relative;
}

.parent {
    display: flex;
    justify-content: center;
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    gap: 40px;

}

.child {
    width: 230px;
    height: 150px;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    padding: 10px;

}

.child h3 {
    background-color: white;
    color: red;
}

.child p {
    color: rgb(34, 34, 111);
    text-align: center;
    padding-top: 20px;
}